body, button, h2 {
  font-family: 'Roboto', sans-serif;
}

.app {
   background:url("background.jpg") no-repeat;
   background-size: cover;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
} 

.container {
  width: 500px;
  margin: 130px auto;
  border-radius: 20px;
  padding: 30px;
  background:rgba(89, 50, 28, 0.6);
}

.container form, .container table, label {
  color: #D9D9D9;
}

.form-control {
  margin-bottom: 30px;
}

.form-control input {
  padding: 6px;
  border-radius: 5px;
  display: block;
  margin: 10px 0;
  width: 97%;
}

.output {
  outline: #BFB5A3;
}

.container form button {
  background-color: #26130D;
  color: #D9D9D9;
  padding: 5px 10px;
  border-radius: 5px;
  border-radius: 5px;
  outline: 0;
  display:block;
  border: 1px solid #BFB5A3;
}

.container table {
  margin-top:10px;
}

.container table td {
  padding: 5px 20px;
}

h2 {
  font-size: 20px;
  color: #D9D9D9;
}